.header-home {
  font-family: 'Nunito-semiBold';
  z-index: 100;
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba($color: #000000, $alpha: 1);

  ul {
    list-style-type: none;
    display: flex;
    gap: 50px;

    li a {
      padding: 5px 10px;
      color: #FFFFFF;
      text-decoration: none;
    }

    .selected {
      background-color: #B5B7B7;
      color: #FFFFFF;
      border-radius: 20px;
    }
  }

  img {
    width: 5rem;
    float: right;
    margin-right: 50px;
  }
}