.header-home {
  z-index: 100;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  height: 80px;
  background-color: rgba($color: #000000, $alpha: 0.8);

  ul {
    list-style-type: none;
    display: flex;
    gap: 60px;

    li a {
      color: white;
      text-decoration: none;
    }
  }
}