.content {
  padding: 60px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 60px;
  background-color: #000000;
  height: 100vh;

  >* {
    background-color: #1D1E1F;
    color: #FFFFFF;
    padding: 10px 25px;
  }

}