@font-face {
  font-family: "Nunito-light";
  src: local("NunitoSans-Regular.ttf"), url("./fonts/NunitoSans-Regular.ttf");
}

@font-face {
  font-family: "Nunito-bold";
  src: local("NunitoSans-Bold.ttf"), url("./fonts/NunitoSans-Bold.ttf");
}

@font-face {
  font-family: "Nunito-semiBold";
  src: local("NunitoSans-SemiBold.ttf"), url("./fonts/NunitoSans-SemiBold.ttf");
}

body {
  font-family: 'Nunito-semiBold';
  font-size: 1rem;
}